<div class="container-fluid">
  <div class="my-3">
    <div class="row">
      <div
        class="col-5 mx-auto py-2 text-center border border-2 rounded-3 my-auto"
      >
        <h2 class="my-3">Login/Register</h2>
        <small class="fw-bold">With Local Storage</small>

        <!-- Register -->
        <div class="card mt-3" *ngIf="activeForm === 'register'">
          <div class="card-title">
            <h2 class="my-3">Register</h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-8 mx-auto">
                <form action="">
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      name="name"
                      class="form-control rounded-4"
                      id="floatingInput"
                      placeholder="name"
                      [(ngModel)]="registerObj.name"
                    />
                    <label for="floatingInput">Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      name="email"
                      class="form-control rounded-4"
                      id="floatingInput"
                      placeholder="email"
                      [(ngModel)]="registerObj.email"
                    />
                    <label for="floatingInput">Email</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      name="password"
                      class="form-control rounded-4"
                      id="floatingInput"
                      placeholder="password"
                      [(ngModel)]="registerObj.password"
                    />
                    <label for="floatingInput">Password</label>
                  </div>
                  <button
                    type="submit"
                    class="fw-bold btn btn-danger rounded-4 px-5 text-uppercase"
                    (click)="registerForm()"
                  >
                    Register
                  </button>
                </form>
                <hr />
                <p class="text-lead" (click)="toggleForm('login')">
                  Already Registered?
                  <button
                    class="fw-bold text-decoration-none btn btn-primary d-inline btn-sm rounded-4"
                  >
                    Login Here
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Login -->
        <div class="card mt-3" *ngIf="activeForm === 'login'">
          <div class="card-title">
            <h2 class="my-3">Login</h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-8 mx-auto">
                <form action="">
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      name="email"
                      class="form-control rounded-4"
                      id="floatingInput"
                      placeholder="email"
                    />
                    <label for="floatingInput">Email</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      name="password"
                      class="form-control rounded-4"
                      id="floatingInput"
                      placeholder="password"
                    />
                    <label for="floatingInput">Password</label>
                  </div>
                  <button
                    type="submit"
                    class="fw-bold btn btn-danger rounded-4 px-5 text-uppercase"
                  >
                    Login
                  </button>
                </form>
                <hr />
                <p class="text-lead" (click)="toggleForm('register')">
                  Are you trying this for the first time?
                  <button
                    class="fw-bold text-decoration-none btn btn-primary d-inline btn-sm rounded-4"
                  >
                    Register Here
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
